<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>多人博客-首页</title>
    <link rel="stylesheet" href="./public/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/css/login.css">
    <link rel="stylesheet" href="./public/css/base.css">
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <form class="form-signin" id="loginForm">
            <li><span class="glyphicon glyphicon-leaf"  aria-hidden="true"></span></li>
            <h2 class="form-signin-heading">Please Sign In</h2>
            <label  for="inputEmail">email</label>
            <input name="email" class="form-control" id="inputEmail" autofocus="" required="" type="email" placeholder="邮箱">
            <label  for="inputPassword">Password</label>
            <input name="password" class="form-control" id="inputPassword" autofocus="" required="" type="password" placeholder="密码">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="rememberme">
                    记住我
                </label>
            </div>
            <button class="btn btn-success btn-block" type="submit">登录</button>
        </form>
        <div class="message"><p>没有账号?<a href="./register.html">点击创建</a></p> </div>
    </div>
</body>
</html>
<script src="./public/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="./public/js/bootstrap.min.js"></script>

<script type="text/javascript" src="./public/js/ajax_tools.js">
</script>

<script type="text/javascript">
    window.onload = function(){
        var loginForm = document.querySelector('#loginForm')
        var form = $(loginForm)
        loginForm.addEventListener('submit',function(e){
            form = $(this).serialize()
            e.preventDefault();
            var object = {
            method:'post',
            url:'/login',
            data:form,
            callback:function(data){
                data = JSON.parse(data)
                var err_code = data.err_code
                if(err_code===0){
                window.alert('登录成功')
                window.location.href = '/';
                }else{
                    window.alert('服务器繁忙')
                    }
                }
            } 
            ajax(object)
        })  
    }
</script>